
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
}
<!-- FOOTER -->
<footer class="l-footer">

    <div class="container l-grid footer section reveal">

        <div class="footer-content">
            <a href="" class="footer-logo">
                <img src="~/IMG/source/logo.png" alt="">
            </a>
            <p class="footer-text">Kết nối tri thức & trái tim</p>
            <div class="footer-social">
                <i class="fab fa-youtube"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>

        <div class="footer-content">
            <p class="footer-title">GIỚI THIỆU</p>
            <ul class="footer-menu">
                <a href="./index.html" class="footer-link">Trang chủ</a>
                <a href="./pages/san-pham.html" class="footer-link">Sản phẩm</a>
                <a asp-action="Index" asp-controller="News" class="footer-link">Tin tức</a>
                <a asp-action="Contact" asp-asp-controller="Home" class="footer-link">Liên hệ</a>
            </ul>
        </div>

        <div class="footer-content">
            <p class="footer-title">CHÍNH SÁCH CÔNG TY</p>
            <ul class="footer-menu">
                <a href="" class="footer-link">Chính sách giao nhận</a>
                <a href="" class="footer-link">Chính sách đổi trả</a>
                <a href="" class="footer-link">Phương thức thanh toán</a>
                <a href="" class="footer-link">Chế độ bảo hành</a>
            </ul>
        </div>

        <div class="footer-content">
            <p class="footer-title">HỖ TRỢ KHÁCH HÀNG</p>
            <ul class="footer-menu">
                <a href="" class="footer-link">Hotline: (+84 28) 38 632 052</a>
                <a href="" class="footer-link">Gửi yêu cầu đổi hàng</a>
                <a href="" class="footer-link">P. Kinh doanh: sales@gobook.com.vn</a>
                <a href="" class="footer-link">P. Hỗ trợ khách hàng: support@gobook.com.vn</a>
            </ul>
        </div>

    </div>

    <div class="footer-bottom">
        <div class="container footer-copyright">
            <p>All rights reserved by &copy; GOBOOK creative 2021</p>
        </div>
    </div>

</footer>