
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- NEWSLETTER -->
<section class="section" id="newsletter">
    <div class="container newsletter">
        <div class="info reveal">
            <p class="subtitle">Newsletter</p>
            <h1 class="title">Đăng Ký Nhận Tin</h1>
            <p class="text">Đăng ký email ngay hôm nay để nhận ngay những thông tin giảm giá, khuyến mãi mới nhất</p>
        </div>
        <div class="newsletter-form reveal">
            <i class="fas fa-envelope newsletter-icon"></i>
            <input type="text" class="newsletter-input" placeholder="Shio@gamil.com">
            <a href="" class="btn newsletter-btn">Đăng Ký</a>
        </div>
    </div>
</section>
