/* CATEGORY */
.category{
  padding: 20px;
  box-shadow: var(--box-shadow);
  letter-spacing: 0.1rem;
  border-radius: var(--radius);
}
.category-header{
  font-size: var(--subtitle-size);
  padding: 10px 0;
  color: var(--dark-color);
  display: flex;
  align-items: center;
  border-bottom: 2px #000 solid;
}
.category-header i{
  font-size: 1.6rem;
  padding: 0 5px;
}
.category-list{
  list-style: none;
  font-size: var(--text-size);
}
.category-item{
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.category-item:last-child{
  border-bottom: none;
}
.active .category-item-link{
  color: var(--pink-color);
}
.active .category-item-link::before{
  content: '';
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
  border: 4px solid;
  border-color: transparent transparent transparent rgb(233, 21, 74);
}
.category-item-link{
  position: relative;
  right: 0;
  text-decoration: none;
  color: var(--dark-color);
  transition: right var(--transition);
}
.category-item-link:hover{
  color: var(--pink-color);
  right: -5px;
}










/* SIDEBAR MENU */
.mb-menu{
  display: none;
}

.sidebar{
  position: fixed;
  /* left: 2rem; */
  bottom: 11rem;
  right: 1rem;
  background: var(--pink-color);
  width: 40px;
  height: 40px;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.sidebar h2{
  color: var(--white-color);
  font-size: 4rem;
  font-weight: 400;
  margin: 0 auto;
}

.over-lay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 10000;
  display: none;
  animation: faceIn linear 0.3s;
}

.menu-sidebar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 250px;
  background: var(--white-color);
  z-index: 10000;
  transform: translateX(-100%);
  opacity: 0;
  transition: all var(--transition);
}

.close-sb{
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  font-size: 2rem;
  width: 3rem;
  text-align: center;
  display: block;
  color: #ccc;
}

.close-sb:hover{
  cursor: pointer;
  /* background: rgb(240, 38, 38); */
  background-color: var(--pink-color);
  color: var(--white-color);

}

div .category{
  padding-top: 40px;
}

.key-sb:checked ~ .over-lay{
  display: block;
}

.key-sb:checked ~ .menu-sidebar{
  transform: translateX(0);
  opacity: 1;
}

@keyframes faceIn{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}










/* PAGINATION */
.pagination{
  margin: 50px auto 25px auto;
  width: 80%;
  scroll-behavior: smooth;
}

.pagination ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.pagination ul li{
  list-style: none;
  line-height: 30px;
  margin: 0 5px;
}

.pagination ul li.page-num{
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.pagination ul li a{
  display: block;
  text-decoration: none;
  color: #777;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 50%;
}

.pagination ul li.page-num:hover a,
.pagination ul li.page-num.active a{
  /* background-color: #333; */
  background-color: var(--pink-color);
  color: var(--white-color);
}

.pagination ul li:first-child{
  margin-right: 30px;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

.pagination ul li:last-child{
  margin-left: 30px;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .category{
      letter-spacing: 0;
      box-shadow: none;
  }
  .category-header{
      font-size: var(--subtitle-size);
      padding: 0;
  }
  .category-header i{
      font-size: 1.2rem;
      padding-right: 5px;
      align-items: center;
  }
  .category-list{
      font-size: var(--text-size);
  }

  .pagination{
      margin: 50px auto;
      width: 80%;
  }
  .pagination ul{
      padding: 4px 8px;
      border-radius: 30px;
  }
  .pagination ul li{
      line-height: 18px;
  }
  .pagination ul li.page-num{
      width: 20px;
      height: 20px;
      line-height: 20px;
  }
  .pagination ul li:first-child{
      margin-right: 15px;
      font-weight: 700;
      font-size: 1.3rem;
  }
  .pagination ul li:last-child{
      margin-left: 15px;
      font-weight: 700;
      font-size: 1.3rem;
  }
  .mb-menu{
    display: block;
  }
}